In [13]:
import numpy as np
import pandas as pd

In [14]:
df=pd.read_csv('loan.csv')

In [15]:
print(df.head())

    Loan_ID Gender Married  Dependents     Education Self_Employed  \
0  LP001002   Male      No         0.0      Graduate            No
1  LP001003   Male     Yes         1.0      Graduate            No
2  LP001005   Male     Yes         0.0      Graduate           Yes
3  LP001006   Male     Yes         0.0  Not Graduate            No
4  LP001008   Male      No         0.0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [16]:
print(df.isnull().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df['Married']=le.fit_transform(df['Married'])
df['Self_Employed']=le.fit_transform(df['Self_Employed'])

In [18]:
print(df)

      Loan_ID  Gender  Married  Dependents     Education  Self_Employed  \
0    LP001002       1        0         0.0      Graduate              0
1    LP001003       1        1         1.0      Graduate              0
2    LP001005       1        1         0.0      Graduate              1
3    LP001006       1        1         0.0  Not Graduate              0
4    LP001008       1        0         0.0      Graduate              0
..        ...     ...      ...         ...           ...            ...
609  LP002978       0        0         0.0      Graduate              0
610  LP002979       1        1         3.0      Graduate              0
611  LP002983       1        1         1.0      Graduate              0
612  LP002984       1        1         2.0      Graduate              0
613  LP002990       0        0         0.0      Graduate              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [22]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
df.Gender=imputer.fit_transform(df['Gender'].values.reshape(-1,1))
df.Married=imputer.fit_transform(df['Married'].values.reshape(-1,1))
df.Self_Employed=imputer.fit_transform(df['Self_Employed'].values.reshape(-1,1))

In [23]:
print(df)

      Loan_ID  Gender  Married  Dependents     Education  Self_Employed  \
0    LP001002       1        0         0.0      Graduate              0
1    LP001003       1        1         1.0      Graduate              0
2    LP001005       1        1         0.0      Graduate              1
3    LP001006       1        1         0.0  Not Graduate              0
4    LP001008       1        0         0.0      Graduate              0
..        ...     ...      ...         ...           ...            ...
609  LP002978       0        0         0.0      Graduate              0
610  LP002979       1        1         3.0      Graduate              0
611  LP002983       1        1         1.0      Graduate              0
612  LP002984       1        1         2.0      Graduate              0
613  LP002990       0        0         0.0      Graduate              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [24]:
print(df.isnull().sum())

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Dependents']=le.fit_transform(df['Dependents'])

In [26]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
df.Dependents=imputer.fit_transform(df['Dependents'].values.reshape(-1,1))

In [28]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
df.LoanAmount=imputer.fit_transform(df['LoanAmount'].values.reshape(-1,1))
df.Loan_Amount_Term=imputer.fit_transform(df['Loan_Amount_Term'].values.reshape(-1,1))
df.Credit_History=imputer.fit_transform(df['Credit_History'].values.reshape(-1,1))

In [29]:
print(df.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [30]:
df=pd.DataFrame(df,columns=['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']).to_csv('Loan_new.csv')